 #header {
   text-align: center;
 }
 
 .addTask {
   text-align: center;
   margin-top: 20px;
   position: fixed;
   bottom: 10px; 
   right: 10px; 
   background-color:#29e603;
   font-size: 30px;
   margin: 10px;
   
 }

 .addTask:hover{
  background-color:#2cd909;
}

 .task {
   max-height: 550px; /* Set a maximum height for the scrollable area */
   overflow-y: auto; /*Enable vertical scrolling if content exceeds max-height*/
   
 }

 body {
  overflow: hidden; /* Disable scrolling for the entire page */
  background-image: url("images/background.jpg"); /* Set the background image for the entire page */
  background-size: cover; /* Adjust the background image size to cover the entire page */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  margin: 0; /* Remove default margin to fill the entire viewport */
  padding: 0; /* Remove default padding to fill the entire viewport */
  overflow: hidden; /* Disable scrolling for the entire page */
}



