   <body>
        <div class = "page-container">

         <div id="header">
             <h1 class="task-page-container--heading">Тhe smart ones record</h1>
         </div>

            <div class="task">
                <app-task-list-item class="task-page-container--item"></app-task-list-item> 
            </div>

            <div class = "addButton">
                <button mat-fab class = "addTask" (click) = "addTask()">
                     <mat-icon>add</mat-icon>
                 </button>
            </div>
            
            
        </div>
    
   </body>
   
