<div class="task-item-container" *ngFor="let task of tasks" [ngStyle]="{ 'background-color': task.done ? 'lightgreen' : 'white' }">
    <input type="checkbox" [(ngModel)]="task.done" (change) = "changeStatus(task)">

        <div class="task-item--task">
            <div class="task--title">{{task.title}}</div>
            <div class="task--time">{{task.time}}</div>
        </div>
    <button mat-fab class="button-edit" (click) = edit(task.id)>
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-fab class="button-delete" (click) = "delete(task.id)">
        <mat-icon>delete</mat-icon>
    </button>
</div>
