.add-form {
    text-align: center; /* Optional: Center the content horizontally */
    padding: 20px;
    }

    label{
        margin-right: 20px;
        font-size: 20px;
    }

    .button{
        margin-top: 30px;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        background-image: url("images/background.jpg");
        background-repeat: no-repeat;
      }

      .add-form{
        background-color: #fff;
        border-width: 2px;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow to create a raised effect */
      }

      .addTask{
        background-color:#29e603;
        margin-top: 10px;
      }

      .addTask:hover{
        background-color:#2cd909;
      }
    